<div class="cart-list">
    <div class="cart-list-content">
        <span ng-click="$ctrl.onClose()" class="close">&times;</span>
        <div class="products">
            <div ng-repeat="product in $ctrl.products">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="img-wrapper">
                            <img ng-src="{{$ctrl.imgUrl}}{{product.img}}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-8"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-click="$ctrl.onClose()" class="cart-list-bg"></div>
</div>
