<div class="products-wrapper">
	<div class="container">
		<p ng-if="$ctrl.loggedUser.username" class="logged-user">Hello, {{ $ctrl.loggedUser.username }}<i class="fa fa-sign-out" title="Logout" ng-click="$ctrl.logout()"></i></p>
		<ul class="products list-inline">
			<li ng-repeat="product in $ctrl.products" ng-click="$ctrl.selectProduct(product)"
		        ng-class="{selected: product==$ctrl.selectedProduct}">
				<div class="product-image-wrapper">
					<img src="/app/images/{{ product.img }}" class="img-responsive" alt="">
				</div>
				<p>{{product.title}}</p>
			</li>
		</ul>
		<button type="button" class="btn btn-danger go-back" ng-click="$ctrl.goBack()">Go back</button>
	</div>
</div>
