<div class="products-wrapper">
	<div class="container">
		<p ng-if="$ctrl.loggedUser.username" class="logged-user">Hello, {{ $ctrl.loggedUser.username }}
			<i class="logout fa fa-sign-out" title="Logout" ng-click="$ctrl.logout()"></i>
			<i class="cart fa fa-shopping-cart"><span></span></i>
		</p>
		<ul class="products list-inline">
			<li ng-repeat="product in $ctrl.products" ng-click="$ctrl.selectProduct(product)"
		        ng-class="{selected: product==$ctrl.selectedProduct}">
				<div class="product-image-wrapper">
					<img ng-src="{{$ctrl.imgUrl}}{{product.img}}" class="img-responsive" alt="">
				</div>
				<p>{{product.title}}</p>
			</li>
		</ul>
		<div class="to-auth-btn-wrapper">
			<button type="button" class="btn btn-danger go-back" ng-click="$ctrl.logout()">To Auth Page (logout)</button>
		</div>
	</div>
</div>
