<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ $ctrl.selectedProduct.title }}</h3>
            <div class="product-image-wrapper">
                <img src="/app/images/{{ $ctrl.selectedProduct.img }}" class="img-responsive" alt="">
            </div>
            <h3>Product description</h3>
            <div class="product-description">
                <p>{{ $ctrl.selectedProduct.text }}</p>
            </div>
        <button type="button" class="btn btn-danger go-back" ng-click="$ctrl.goBack()">Go back</button>
        </div>
        <div class="col-sm-6">
            <h3 class="text">Leave Your review</h3>
            <form novalidate>
                <div>
                    <textarea class="form-control" name="comment" rows="3" required></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
            <h3 class="text">User's reviews</h3>
            <ul class="list-unstyled">
                <li ng-repeat="comment in $ctrl.comments">
                    <div>
                        <p>Comment: {{ comment.text }}</p>
                        <p>Rate: {{ comment.rate }}</p>
                        <p>Created by: {{ comment.created_by.username }} at {{ comment.created_at | date: 'fullDate' }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
