rest-app {

    .header-wrapper {
        background-color: #3f51b5;

        header {
            margin: 15px 0;

            h1 {
                font-family: 'Open Sans', sans-serif;
                color: #fff;
                margin: 0;
            }
        }
    }

}
