@mixin shadow {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow:    1px 1px 10px 0px rgba(255, 255, 255, 0.4);
    box-shadow:         1px 1px 10px 0px rgba(255, 255, 255, 0.4);
}

auth {

    .auth-wrapper {

        background-color: #303f9f;

        h2 {
            color: #fff;
            margin-left: 30px;
        }

        form {
            position: relative;
            border: 1px solid #fff;
            padding: 40px;
            border-radius: 3px;
            @include shadow;
            color: #fff;

            .success-message {
                position: absolute;
                color: #5cb85c;
                bottom: 1px;
            }

            .fail-message {
                position: absolute;
                color: #fd5151;
                bottom: 1px;
            }
        }

        .skip-button-wrapper {
            text-align: right;
            padding-right: 0;
            margin-top: 35px;
            margin-bottom: 25px;

            a {
                width: 150px;
            }
        }
    }


}
